<%- include('../partials/header'); %>

<div class="container">
<h2>User Login History</h2>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Device</th>
            <th>IP Address</th>
            <th>Browser</th>
            <th>Login Time</th>
        </tr>
    </thead>
    <tbody>
        <% logins.forEach(function(login) { %>
            <tr>
                <td><%= login.User.username %></td>
                <td><%= login.User.role %></td>
                <td><%= login.device %></td>
                <td><%= login.ip %></td>
                <td><%= login.browser %></td>
                <td><%= login.loginTime %></td>
            </tr>
        <% }); %>
    </tbody>
</table></div>

<%- include('../partials/footer') %>