<%- include('partials/header.ejs'); %>


<body>
  <a href="<%= path.join(currentPath) %>?download=true" class="btn">Download</a>
  <h2>File Content: <%= currentPath %></h2>
  <pre><%= content %></pre>
  <br>
  <a href="<%= path.dirname(currentPath) %>">Back</a>
</body>
