<%- include('partials/header.ejs'); %>


<body>

    <h1>Contents of <%= currentPath %></h1>
    <% if (currentPath !== '/') { %>
        <h2><a href="<%= path.dirname(currentPath) %>">[UP] ..</a></h2>
    <% } %>
    <h2>Directories</h2>
    <ul>
      <% directories.forEach(dir => { %>
        <li><a href="<%= path.join(currentPath, dir) %>"> [DIR] <%= dir %></a></li>
      <% }); %>
    </ul>
    <h2>Files</h2>
    <ul>
      <% fileNames.forEach(file => { %>
        <li>
          <a href="<%= path.join(currentPath, file) %>"><%= file %></a> 
        </li>
      <% }); %>
    </ul>
    <% if (role === 'admin') { %>
    <h2>Upload File</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>
    <% } %>
    <script>
      // Get the URL parameters
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get('message');
  
      // If there's a message parameter, show it in an alert
      if (message) {
        alert(message);
        // Remove the message parameter from the URL
        history.replaceState({}, document.title, window.location.pathname);
      }
    </script>
  </body>
  <%- include('partials/footer.ejs'); %>

  